*{
    margin: 0;
    padding: 0;
}
body{
    
    background: rgb(154, 165, 167);
    color: #000;
    font-family: 'Roboto', sans-serif;
    background-repeat: repeat;
    height: 100%;
    
}

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/

    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);

    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: repeat(5, auto);

    grid-template-areas: "navbar navbar navbar"
                         "encabezado encabezado encabezado"
                         "contenido contenido sidebar"
                         "widget-1 widget-2 sidebar"
                         "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 5px;
}

.contenedor .encabezado{
    background: darkblue;
    color: #fff;
    grid-area: encabezado; 
}

.contenedor .contenido{
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:start;
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: orange;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: lightskyblue;
    color: #000;
    height: 400px;
    /*utilizamos flexbox para alinear el contenido*/
    
    transition: all 0.25s;
}
.contenedor .widget-1:hover{
    transform: translateY(-5px);
    box-shadow: 0 22px 26px rgba(0, 0, 0, 0.2);
}
.contenedor .widget-2:hover{
    transform: translateY(-5px);
    box-shadow: 0 22px 26px rgba(0, 0, 0, 0.2);
}

.contenedor .widget-1{
    grid-area: widget-1; 
}

.contenedor .widget-2{
    grid-area: widget-2; 
}


.contenedor .pie{
    background: darkblue;
    color: #fff;
    grid-area: pie; 
}
.contenedor .navbar{
    
  background-color: #333;
  top: auto;
    grid-area: navbar;    
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
.card{
    width: 100%;
    margin: 15px;
    border-radius: 8px;
    overflow: hidden;
    background:rgb(105, 67, 165);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5)
    transition: all 0.25s;
      
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 22px 26px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "navbar navbar navbar"
                            "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "sidebar sidebar sidebar"
                             "widget-1 widget-1 widget-2"
                             "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas: "navbar navbar navbar"
                            "encabezado encabezado encabezado"
                             "contenido contenido contenido"
                             "widget-1 widget-1 widget-1"
                             "widget-2 widget-2 widget-2"
                             "sidebar sidebar sidebar"
                             "pie pie pie";
    }
}